{% extends "news/dase.html" %}
	<title>用户中心</title>

{% block main %}
	<script type="text/javascript" src="../../static/news/js/jquery.form.min.js"></script>
{% endblock main %}

{% block body %}
	<div class="header_con">
		<div class="header">
			<a href="#" class="logo fl"><img src="../../static/news/images/logo.png" alt="logo"></a>
			<div class="user_login fr" style="display: block;">
				<img src={% if context.user.avatar_url %}{{ context.user.avatar_url }}{% else %}
                "../../static/news/images/user_pic.png"
                {% endif %} alt="用户图片">
				<a href="{{ url_for('user.user_center') }}">{{ context.user.nick_name }}</a>
				<a href="#">退出</a>
			</div>
		</div>
	</div>
	
	<div class="conter_con">
		<div class="user_menu_con fl">
			<div class="user_center_pic">
				<img {% if context.user.avatar_url %}{{ context.user.avatar_url }}{% else %}} src="../../static/news/images/user_pic.png"{% endif %} alt="用户图片">
			</div>
			<div class="user_center_name">{{ context.user.nick_name }}</div>

			<ul class="option_list">
				<li class="active"><a href="{{ url_for('user.user_infomation') }}" target="main_frame">基本资料</a></li>
				<li><a href="user_pic_info.html" target="main_frame">头像设置</a></li>
				<li><a href="../../static/news/html/user_follow.html" target="main_frame">我的关注</a></li>
				<li><a href="../../static/news/html/user_pass_info.html" target="main_frame">密码修改</a></li>
				<li><a href="../../static/news/html/user_collection.html" target="main_frame">我的收藏</a></li>
				<li><a href="../../static/news/html/user_news_release.html" target="main_frame">新闻发布</a></li>
				<li><a href="../../static/news/html/user_news_list.html" target="main_frame">新闻列表</a></li>
			</ul>
		</div>

		<div class="user_con fr">
			<iframe src="{{ url_for('user.user_infomation') }}" frameborder="0" name="main_frame" class="main_frame" id="main_frame"></iframe>
		</div>		
	</div>
   {% endblock body %}
